@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i&display=swap');

html {
  margin: auto;
  width: 375px;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-image: url('/images/bg-intro-mobile.png');
  background-color: hsl(0, 100%, 74%);
}


.wrapper {
    text-align: justify;
    width: 95%;
    margin: 0% auto 25px auto;
    color: white;
}

h1 {
text-align: justify;
width: 54%;
margin: 70px auto 25px auto;
}

p {
    text-align: center;
    line-height: 1.5;
    width: 85%;
    margin: 0 auto;
  }

  button {
    border-radius: 8px;
    width: 80%;
    margin: 0% auto;
    display: block;
    padding: 15px 17%;
    text-align: center;
    background-color: #5D54A3;
    border-color: #5D54A3;
    color: white;
    -webkit-box-shadow: 0px 9px 2px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 9px 2px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 9px 2px -3px rgba(0,0,0,0.2);
  }

  form {
    width: 80%;
    margin: 20px auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 8px;
    p {
      text-align: center;
      line-height: 1.8;
      width: 85%;
      margin: 0 auto;
    }
    button {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      border-radius: 8px;
      width: 88%;
      margin: 5px auto;
      display: block;
      padding: 15px 12%;
      text-align: center;
      background-color: #57d49e;
      border-color: #57d49e;
      color: white;
      box-shadow: none;
      cursor: pointer;
      }
  }

  input {
    display: block;
    width: 78%;
    margin: 13px auto;
    padding: 15px;
    border: rgb(211, 206, 206) solid 1px;
    border-radius: 8px;
    box-shadow: 0%;
    font-weight: 700;
  }

  #terms_services {
    font-size: 12px;
color: gray;
  }

  #red_text {
    color: hsl(0, 100%, 74%);
    font-weight: bold;
  }

  .red_border {
    border: 1px solid hsl(0, 100%, 74%);
  }

  .bold {
    font-weight: 800;
    }

    .warning {
      color: hsl(0, 100%, 74%);
      float: right;
      font-size: 13px;
      margin: -10px 21px 20px 20px;
      font-style: italic;
      font-weight: 500;
    }

    .hidden {
      display: none;
    }
    footer {
      display: block;
      width: 100%;
    }

    @media only screen and (min-width: 600px) {
      html {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        background-image: url('/images/bg-intro-desktop.png');
        background-color: hsl(0, 100%, 74%);
      }
      main {
        display:grid;
        grid-template-columns: 50% 50%;
      }
      h1 {
        font-size: 28px;
        text-align: center;
        word-spacing: 5px;
        width: 350px;
        margin: 170px auto 25px auto;
        }

        p {
          width: 500px;
          text-align: left;
        }

      .wrapper {
        border: solid black 1px;
        min-width:600px;
        color: white;
        margin: 50px auto;
        }
        form {
          width: 80%;
          margin: 20px auto;
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: white;
          border-radius: 8px;
          p {
            text-align: center;
            line-height: 1.8;
            width: 85%;
            margin: 0 auto;
          }
          button {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            border-radius: 8px;
            width: 88%;
            margin: 5px auto;
            display: block;
            padding: 15px 12%;
            text-align: center;
            background-color: #57d49e;
            border-color: #57d49e;
            color: white;
            box-shadow: none;
            cursor: pointer;
            }
        }
    }