@import url(//db.onlinewebfonts.com/c/6ff35b8857ed1d3bf6a3cc93164ff962?family=Touche);

html {

  box-shadow: inset 0 0 0 1000px rgba(235, 131, 129, 0.911);
  height: 100%;
  font-family: "Touche", arial, sans-serif; 
}

body {
  background-image: url('/images/bg-intro-mobile.png');
  width: 100%;
  height: 100%;
}

.wrapper {
    text-align: justify;
    border:solid black 1px;
    width: 375px;
    margin: 0% auto 25px auto;
    color: white;
}

h1 {
text-align: justify;
width: 54%;
margin: 70px auto 25px auto;
}

p {
    text-align: center;
    line-height: 1.5;
    width: 85%;
    margin: 0 auto;
  
  }

  button {
    border-radius: 8px;
    width: 80%;
    margin: 0% auto;
    display: block;
    padding: 15px 21%;
    text-align: center;
    background-color: #64428a;
    border-color: #64428a;
  }

  form {
    width: 80%;
    margin: 20px auto;
    padding-top: 15px;
    background-color: white;
    border-radius: 8px;
  }

  input {
    display: block;
    width: 78%;
    margin: 5px auto;
    padding: 15px;
  }